/* Se importan las fuentes de letra Courier Prime y Special Elite de la API de Google, 
   que se van a utilizar en la interfaz del proyecto. */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Special+Elite&display=swap');
